/**********************************************
 * maheshika-lakmali.github.io
 */
body {
	font-family: "lato", Arial, sans-sefif;
}
.overview-wrap {
	background-color: #66c8c7;
	padding: 40px;
}

.overview-wrap h1,h2,h3,h4 {color: #FFF;}
.overview-wrap h1 {margin-top:10px}
.overview-wrap h2 {margin-top:0px}
.overview-wrap p {color: #FFF;}
.overview-wrap a {color: #FFF;text-decoration:underline;}

.contact-wrap {
	background-color: #b1e0e3;
	color: #2a6496;
	padding:40px;
}
.contact-wrap h2,h3,h4,p,ul { text-align:center;}
.contact-wrap h2 {
	margin-top:5px;padding-bottom:20px;color: #2a6496;
}
.contact-wrap i.fa {
	font-size: 2.5em;
}
/*.sky-back-wrap {
	background-image: url('../assets/sky.jpg');
	background-repeat: no-repeat;
	padding: 200px;
}*/
